body{
    background-color: rgb(225, 225, 255);
    padding: 0px;
    margin: 0px;
}
form{

    width:500px;
border: 1px solid black;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
padding: 10px;
background-color: white;
margin: 0;
}

fieldset{
    border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.plusMinus{
    height: 30px;
    width: 30px;
    background-color: white;
   font-size: 24px;
   font-weight: bolder;
   text-align: center;
   border: 1px solid gray;
}

.radio{
     width: 27px;
    height: 27px;
}




.count{
 width: 20px;   
 font-size: 22px;
 border: none;
 pointer-events: none;
 text-align: center;
 font-weight: bolder;
}

label{ 
width:160px;   
font-weight: bold;
 display: inline-block;
text-align: left;
font-size: 20px;
}

.userLabel{
  width:223px;   
}
legend{
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;

}
.submit{
    width: 100%;
    text-align: center;
    background-color: black;
    color:white;
       font-size: 24px;
   font-weight: bolder;
}

@media  (max-width: 550px) {
  form{
    width:100vw;
  }

}



@media  (max-width: 340px) {
label{ 
width:125px;   
}

.userLabel{
  width:188px;   
}
 
}
