body{
background-color: rgb(231, 239, 255);
    padding: 0px;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    width:500px;

padding: 20px;
border-radius: 15px;
background-color: white;
box-shadow: 0 8px 20px rgba(0,0,0,0.1);
margin: 0;
}

fieldset{
    border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.background{
  height: 100vh;
  width: 100vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}



.plusMinus{
    height: 33px;
    width: 33px;
    background-color: white;
   font-size: 26px;
   font-weight: bold;
   text-align: center;
   border: 1px solid gray;
   border-radius: 3px;
}

.radio{
     width: 30px;
    height: 30px;
}




.count{
 width: 24px;   
 font-size: 26px;
 border: none;
 pointer-events: none;
 text-align: center;
 font-weight: bold;
}

label{ 
width:160px;   
 display: inline-block;
text-align: left;
font-size: 24px;
}

.userLabel{
  width:223px;   
}
legend{
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;

}
.submit{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: black;
    color:white;
    font-size: 26px;
   font-weight: bolder;
   border-radius: 10px;
}

@media  (max-width: 550px) {
  form{
    width:100vw;
  }

}



@media  (max-width: 340px) {
label{ 
width:125px;   
}

.userLabel{
  width:188px;   
}
 
}
